[workspace]
members = [
  "rdb-domain",
  "rdb-storage",
  "rdb-infrastructure",
  "rdb-sql",
  "rdb-application",
  "rdb-interface",
]

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
